* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #1f2428;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    padding: 7px;
    border: 2px solid white;
    border-radius:4px;
}

.search {
    padding: 7px;
    background-color: white;
    border: 2px solid white;
    border-radius:4px;
}

.hero {
    background-image: url(main-image.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    min-height: 100vh;
}

.hero h1 {
    font-size: 81px;
    font-style: italic;
    color: #D1D1D1;
}    

.hero p {
    font-size: 25px;
    color: #B2AC88;
}

.featured-products {
    text-align: center;
    padding: 60px ;
}

.featured-products h2 {
    font-size: 45px;
    font-weight: bold;
}

.line {
    font-size: larger;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 410px;
    background:#f6f6f6;
    border-radius: 10px;
    padding: 15px;
}

.card img{
    width:100%;
    border-radius:10px;
}

.card{
    box-shadow: 0px 6px 4px rgba(0,0,0,0.25);
}

.card:hover{
    box-shadow: 0 18px 40px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

.card h3 {
    font-size: x-large;
    margin-top: 12px;
    margin-bottom: 8px;
}

.card p {
    font-size: large;
}

.reviews {
    padding:30px;
    background:#e8e8e8;
}

.review-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 42px;
}

/* .review {
    background: #fff;
    padding: 20px;
    width: 370px;
    height: 80px;
    border-radius: 10px;
    
} */

.review{
    background:#fff;
    padding: 20px;
    width: 370px;
    height: 105px;
    border-radius: 12px;
    border-left: 4px solid #000;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}


.review-form{
    width:300px;
    height: 203px;
}

.stars{
    color: #f4c430;
    font-size: 22px;
    margin: 1;
}

.reviews > h2 {
    text-align: center;
    font-size: 45px;
}

.review > span{
    color: #555;
    font-weight: bold;
    text-align: left;
}

.review-form textarea{
    width:100%;
    height:80px;
    margin:10px 0;
    font-size: 16px;
    word-spacing: -3px;
}

.review-form h4 {
    text-align: left;
    font-size: 21px;
    letter-spacing: 0.6px;
    word-spacing: 3.5px;
}

.submit {
    display: block;
    margin: auto;
    padding: 11px;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 0.8px;
    border: none;
    border-radius: 25px;
    background: #D1D1D1;
    cursor:pointer;
}

/* Sale */
.sale {
    background:#000000;
    color:#fff;
    text-align: center;
    padding: 60px;
}

.sale h2 {
    font-size: 50px;
}

.sale p {
    letter-spacing: 1.2px;
    font-size: 18px;
}

.sale > button{
    margin-top:15px;
    padding:10px 20px;
    border: none;
    border-radius: 18px;
    font-size: medium;
    font-weight: bold;
    cursor:pointer;
}

/* Footer */
.footer {
    background:#222;
    color:#fff;
    display:flex;
    justify-content:space-around;
    padding:40px;
}


.subscribe input {
    padding: 4px;
    width: 97%;    
}

.subscribe button {
    /* border: none; */
    border: 1px solid #737373;
    border-radius: 6px;
    background: #222;
    color: #737373;
    margin-top: 10px;
    padding: 3px;
    cursor: pointer;
}

.footer-bottom > p {
    color: white;
    background: #282828;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}